:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 24px;
  max-width: 1128px;
  margin: 0 auto;
}

.gallery-item {
  width: calc((100% - 30px) / 3);
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  border-style: none;
}

.form-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.form-textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}